body{
    background-color: black;
    position: relative;

}
h1{
    font-size: 3.4rem;
}
.btn-outline-light {
    color: #99FD02;
    background-color: transparent;
    background-image: none;
    border-color: #99FD02;}

.about-heading{
    font-size: 4.4rem;
    color: #99FD02;
    font-family: 'Saira Condensed', sans-serif;

}
.navbar-container{
    background-color: black;
    padding-top: 15px;

}

.navbar{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Saira Condensed', sans-serif;
    text-align: right;
    justify-content: right;
    flex-direction: row;
    color: #99FD02;
}

.intro{
    background-image: url("../Images/2.png");
    background-repeat: no-repeat;
    height: 770px;
    background-color: black;
margin-bottom: 3%;}

.intro-text{
    width: 50%;
    color: #B7B3AB;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    text-align: left;
    margin-left: 45%;
    padding-top: 15%;

}

.about-us{
    background-image: url("../Images/4.png");
    background-repeat: no-repeat;
    height: 770px;
    background-color: #343232;
}

.about-text{
    width: 40%;
    margin-left: 50%;
    padding-top: 15%;
    color: #fff;
    font-size: 1.5rem;
}

.gallery-text{
    text-align: center;
    padding: 15px;
    font-size: 4.4rem;
    font-family: 'Saira Condensed', sans-serif;
    color: #B7B3AB;
}

.gallery{
    width: 99%;
    background-color: black;
    padding-bottom: 7%;
}

.image{
    border-radius: 2%;
}

.color1{
    background-color: #B4AB9F;
    width: 5%;
    padding: 50px 25px 0;
    float: left;
}

.color2{
    background-color: #86827E;
    width: 5%;
    padding: 50px 25px 0;
    float: left;
}

.color3{
    background-color: #684F39;
    width: 5%;
    padding: 50px 25px 0;
    float: left;
}

.gallery-par{
    color: black;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    font-family: 'Saira Condensed', sans-serif ;
    text-decoration: underline;
    font-weight: bolder;
}
#git{
    background-color: #343232;
}

.span{
    width: 100%;
    text-align: right;
    color: black;
    margin: 1% 0;
}
.getintouch{
    margin: 3% 10%;
}

.git-text{
    color: #99FD02;
    font-size: 5rem;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 15px;
    line-height: 5rem;
    margin-top: 3%;
    width: 25%;
}

.address{
    color: #fff;
    font-size: 1.3rem;
    display: block;
}

.fa-sharp{
    color: black;
    margin-left: 2%;
}

.contact{
    display: inline-block;
    width: 25%;
}

.floatcontainer-git{
    width: 50%;
}
#git-par{
    color: white;
    font-size: 1.3rem;
    padding-left: 10%;
    margin-bottom: 6%;
}
.git-par{
    color: white;
    font-size: 1.3rem;
    padding-left: 10%;
    margin-bottom: 6%;
}


.font-loc{
    color: #fff;
    width: 5%;
    float: left;
    padding: 2% 3% 5% 0;
    font-size: 1.3rem;
}

.floatcontainer-git{
    margin-top: 3%;
    padding-bottom: 3%;
    float: right;
}

a{
    text-decoration: none;
    color: #99FD02;
}

hr{

}

a:hover{
    text-decoration: none;
    color: #436b07;
}
.h1-botnav{
    display: none;
}

@media (max-width:1028px) {
    .website-only{
        display: none;
    }
    .intro{
        background-image: url("../Images/2.png");
        background-repeat: no-repeat;
        height: 100%;
        background-color: black;}
        
        .intro-text{
            width: 100%;
            color: #B7B3AB;
            font-family: 'Saira Condensed', sans-serif;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.37);
            margin-left: 0;
            padding: 10%;
            font-size: 2.5rem;
        }
        br{
            display: none;
        }
        .about-us{
            background-image: url("../Images/4.png");
            background-repeat: no-repeat;
            height: 100%;
            background-color: #343232;
        }
        
        .about-text{
            width: 100%;
            margin-left: 0;
            padding:10%;
            color: #fff;
            font-size: 1.5rem;
            background-color: rgba(0, 0, 0, 0.616);

        }
        .gallery{
            width: 96%;
            margin: 0;
            padding: 0;
        }

        .feature-box3{
            margin-bottom: 10%;
        }
        .col-lg-4{
            margin-top: 4%;
        }
        .color3{
            margin-bottom: 10%;
        }
        #git{
            height: 100px;
            display: none;
        }
        .h1-botnav{
            display: inline;
            margin-right: auto;
            font-size: 2rem;

        }
        
}
